@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@keyframes blinker {  
	50% { opacity: 0; }
}

.hide {
	display: none;
}

body {
	font-family: 'Press Start 2P';
	font-size: 16px;
	background: black;
	color: whitesmoke;
	width: 100vw;
	height: 100vh;
}

header {
	text-align: center;
	padding: 20px 5px;
	height: 80px;
	box-sizing: border-box;
	border-bottom: 1px solid whitesmoke;
}

.title{
	font-size: 1.1em;
	margin-bottom: 10px;
	display: inline-block;
}

.subtitle{
	font-size: 0.7em;
}

.subtitle::after{
	content: "|";
	animation: 0.8s blinker infinite;
}

.hi-gif {
	display: inline-block;
	width: 20px;
}

.wrapper {
	box-sizing: border-box;
	width: 100vw;
	height: calc(100vh - 133px);
	overflow: hidden auto;
	padding: 0 15px;
}

.arrow::before {
	content: "";
	background-image:url(../images/arrow.png);
	background-size: 100% 100%;
	position: absolute;
	animation: 1.5s blinker infinite;
	height: 70px;
	width: 70px;
	top: -80px;
	left: calc(50% - 35px);
}

.presentation {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.presentation figure {
	padding-bottom: 40px;
}

.start-button {
	text-align: center;
	display: inline-block;
    font-weight: bold;
    padding: 10px;
    background-color: whitesmoke;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
	animation: 1s blinker infinite;
}

.bio-gif {
	width: 100vw;
	max-height: calc(100vh - 40px);
	max-width: 1000px;
}

.presentation-container {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.8);
	z-index: 2;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.continue {
	background-color: black;
}

.personal-profile {
	padding: 15px 0;
	text-align: center;
	line-height: 1.4em;
}

.navigation {
	margin-top: 10px;
	display: block;
	position: relative;
	float: left;
	clear: left;
	width: 100%; 
	margin-left: 30px;
	padding-top: 5px; 
}

.navigation li {
	width: 80%;
	margin-bottom: .4em; 
	display: inline-block;
	width: 25.8%; 
}

.icon {
	display: block;
	font-size: 1.7em; 
}


.footer {
	font-size: 0.6em;
	text-align: center;
	line-height: 1.4em;
	position: fixed;
	padding: 13px;
	width: 100vw;
	bottom: 0;
	height: 53px;
	box-sizing: border-box;
	border-top: 1px solid whitesmoke;
	z-index: 1;
}

.nt {
    color: #f92672;
}

.na {
    color: #a6e22e;
}

.s {
    color: #e6db74;
}

code {
	font-weight: 400;
	font-style: normal;
	text-align: left;
	font-size: 1.4em;
}